.sell-col {
    margin-top: 40px;
    padding: 20px;
    color: #757575;
}

.sell-label {
    color: #6495ED;
}

.amount-label {
    margin-top: 6px;
}

.form-sell {
    border-color: #6495ED;
}

.sell-btn-from {
    margin: 0px;
}

.sell-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    background-color: #6495ED;
    border: 1px solid #6495ED;
    border-radius: 5px;
}

.sell-btn:hover {
    color: #6495ED;
    background-color: #FFFFFF;
}
