<!-- Reset Password Confirm Page -->

<div class="container-fluid">
  <div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutAlign="space-between">
    <div class="widget-sm" fxLayoutWrap="wrap" fxLayoutAlign="space-around"
         fxFlex="49%">
      <div class="container">
        <div class="well">
          <div class="alert alert-success" *ngIf="messageSuccess">
            {{ messageSuccess }}
          </div>
          <div class="alert alert-danger" *ngIf="messageError">
            {{ messageError }}
          </div>
          <form name="form" (ngSubmit)="f.form.valid && resetPasswordConfirm()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password" class="control-label">New password:</label>
              <input type="password" class="form-control" id="password" name="password"
                     [(ngModel)]="resetPasswordModel.password" #password="ngModel" required
                     title="Please enter new password" placeholder="Enter New Password Here..">
              <div *ngIf="f.submitted && !password.valid" class="help-block">
                This field is required
              </div>
              <div *ngIf="messagePassword" class="help-block error-block">
                {{ messagePassword }}
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-info btn-block" [disabled]="messageSuccess">Save new password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
