<!-- Start page -->

<!-- Title part -->
<div class="title text-center">
  <h1>HIGHLY SECURE </h1>
  <h1 class="margin">CRYPTOCURRENCY EXCHANGE</h1>
  <p>We are offering maximum security and trust. <br>
    The next generation digital asset platform built for businesses and investors. Buy, sell, and store both Fargocoin and Bitcoin with superior trading features, security, and regulatory oversight.</p>
</div>

<!-- Get Started part -->
<start-page-get-started></start-page-get-started>

<!-- How to get started part -->
<h4 class="text-border-bottom text-center">How to get started</h4>
<div class="carousel slide" id="myCarousel">
  <div class="row content">
    <div class="col-sm-6">
      <div class="row content container-block">
        <div class="col-sm-2">
          <div class="carousel-indicators indicator">
            <button class="btn button-block active" data-slide-to="0" data-target="#myCarousel" type="button"> 1 </button>
          </div>
        </div>
        <div class="col-sm-10">
          <h3>Sign Up</h3>
          <p>Create a digital currency wallet where you can securely store digital currency.</p>
        </div>
      </div>
      <div class="row content container-block">
        <div class="col-sm-2">
          <div class="carousel-indicators indicator">
            <button class="btn button-block" data-slide-to="1" data-target="#myCarousel" type="button"> 2 </button>
          </div>
        </div>
        <div class="col-sm-10">
          <h3>Connect</h3>
          <p>Connect your bank account, debit card, or credit card so that you can exchange digital currency into and out of your local currency.</p>
        </div>
      </div>
      <div class="row content container-block">
        <div class="col-sm-2">
          <div class="carousel-indicators indicator">
          <button class="btn button-block" data-slide-to="2" data-target="#myCarousel" type="button"> 3 </button>
        </div>
        </div>
        <div class="col-sm-10">
          <h3>Buy digital currencies</h3>
          <p>Buy some Bitcoin and Fargocoin to begin usign the future of money.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 sidenav hidden-xs">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img alt="Sign Up" src="/assets/img/start_page_sign_up.png">
        </div>
        <div class="item">
          <img alt="Connect" src="/assets/img/start_page_connect.png">
        </div>
        <div class="item">
          <img alt="Buy digital currencies" src="/assets/img/start_page_buy.png">
        </div>
      </div>
    </div>
  </div>
</div>
