<!-- Footer -->

<footer class="footer-container">
  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column"
       fxLayoutAlign="space-around">
    <div fxLayoutWrap="wrap" fxLayoutAlign="space-around" fxFlex="24%">
      <div>
        <img src="/assets/img/logo.png" class="footer-block">
      </div>
      <p class="footer-block text-center">© {{ today | date : "y" }} Vemex</p>
    </div>
    <div fxLayoutWrap="wrap" fxLayoutAlign="space-around" fxFlex="50%"></div>
    <div fxLayoutWrap="wrap" fxLayoutAlign="space-around" fxFlex="24%">
      <div><a href="https://play.google.com/store/apps/details?id=com.cordova.vemex"
              target="_blank">
        <img src="/assets/img/download_android_app.png" class="footer-block">
      </a></div>
    </div>
  </div>
</footer>
