.accounts-col {
    color: #757575;
    border: 1px solid #6495ED;
    border-radius: 5px;
}

.scroll-frame {
    max-height: 600px;
    overflow-y: scroll;
}

.accounts-navigation-row {
    padding: 10px;
}

.accounts-navigation-col {
    padding: 2px;
}

.accounts-navigation-btn {
    padding: 6px;
    width:100%;
    color: #6495ED;
    background-color: #FFFFFF;
    border-color: #6495ED;
}

.accounts-navigation-btn:hover {
    background-color: #E8ECFF;
}

.accounts-wallet-name {
    color: #6495ED;
}
